:host {
  --lwc-overview-tint-colour: white;
  --lwc-background-colour: black;

  --lwc-profile-info-accordion-background-tint: black;
  --lwc-profile-info-experience-section-sub-header-background-color: black;
  --lwc-pill-background-color: black;
  --lwc-pill-border-color: black;
  --lwc-pill-text-color: white;
  --lwc-skill-text-color: white;
  /* --lwc-overview-tint-colour: #1b96ff;
  --lwc-background-colour: black; */
}

.icon-img-container {
  width: 45px;
  height: 45px;
}
.borderClass {
  border: 1px solid var(--slds-g-color-border-base-1, #c9c9c9);
  border-radius: 0.25rem;
  border-bottom: 1px solid var(--slds-g-color-border-base-1, #c9c9c9);
}
.htmlContentBoxHeightClass {
  min-height: fit-content;
}
.small-icon-img-container {
  height: var(--lwc-squareIconUtilityMedium, 1.5rem);
  width: var(--lwc-squareIconUtilityMedium, 1.5rem);
}

.card-header-class {
  --slds-c-card-color-background: var(--lwc-background-colour);
}
.text-class {
  color: var(--lwc-overview-tint-colour);
}
