@import "c/ppCSSLibrary";

:host {
  --progress-bar-width-var: 0%;
}

progressBarWidthClass {
  width: var(--progress-bar-width-var);
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-child {
  flex: 10;
  /* border: 2px solid yellow; */
  justify-content: center;
  /* align-items:center; */
}

.progressbar-props {
  color: var(--lwc-skill-text-color, var(--lwc-overview-tint-colour));
}
